
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>

      <a class="navbar-brand" <%= link_to "Dresscode", home_index_path %></a>


    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="clima-full-container " >
    <div id='clima-loader' hidden=true></div>
    <div id="city-container"></div>
    <div id="icon-container" ></div>
    <div id="temp-container"></div>


  </div>
  <script src="javascripts/application.js"></script>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">

    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
        <% if current_user && current_user.admin? %>
        <li class="nav-item">
        <%= link_to "Administrar Usuarios", users_index_path %>
        </li>
        <% end %>

    </ul>
  </div>
</nav>


<section class="cont-img">
  <img src="<%= asset_path 'guardarropa.jpg' %>"> <!-- Es un comando de ruby -->
</section>





<div class="crear_nueva">
  <h4 class="navigation"> Mis Guardarropas</h4>
  <%= link_to new_guardarropa_path do %>
    <%="<i class='fas fa-plus'></i>".html_safe %>
  <% end %>

</div>

<div class="indexcontainer">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
  <% @guardarropas.each do |guardarropa| %>
    <% if current_user.id == guardarropa.user_id %>
    <div class="col md-4 mb-3 mt-2">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="elegant-color-text" id="serial"></h5>
        </div>
        <div class="card-body">
          <p class="card-title"><%== guardarropa.nombre %></p>
          <div class="card-icons">
          <%= link_to guardarropa_atuendos_path(guardarropa,@atuendos) do %>
            <%= "<i class='fas fa-eye'></i>".html_safe %>
          <% end %>
          <%= link_to :action => :edit, :id => guardarropa.id do %>
            <%= "<i class='fas fa-edit'></i>".html_safe %>
          <% end %>
          <%= link_to :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
            <%= "<i class='fas fa-trash'></i>".html_safe %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  <% end %>
</div>
</div>
<div class="d_pagination">
  <%= paginate @guardarropas %>
</div>


<div class="crear_nueva">
  <h4 class="navigation"> Mis Prendas</h4>
  <%= link_to new_prenda_path do %>
    <%="<i class='fas fa-plus'></i>".html_safe %>
  <% end %>

</div>
<div class="indexcontainer">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <% @prendas.each do |prenda| %>
      <% if current_user.id == prenda.user_id %>
      <div class="col md-4 mb-3 mt-2">
        <div class="card h-100">
          <img src="<%= asset_path(prenda.tipo'.jpg',image) %>"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%== prenda.tipo%></h5>
            <p class="card-text"><%== prenda.descripcion%></p>
            <div class="card-icons">
              <%= link_to :action => :show, :controller => 'prendas', :id => prenda.id do %>
                <%= "<i class='fas fa-eye'></i>".html_safe %>
              <% end %>
              <%= link_to :action => :edit, :controller => 'prendas', :id => prenda.id do %>
                <%="<i class='fas fa-edit'></i>".html_safe %>
              <% end %>
              <%= link_to prenda , :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
                <%= "<i class='fas fa-trash'></i>".html_safe %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <% end %>

    <% end %>
  </div>
</div>
<div class="d_pagination">
  <%= paginate @prendas %>
</div>