
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand <%= link_to "Dresscode", home_index_path %></a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

</nav>
<div class="indexcontainer1">
<section title="Prendas en este guardarropa" >
  <h4 class= "text-muted"><%=@guardarropa.nombre %></h4>
  <h5>Sus prendas</h5>
  <div class="row row-cols-1 row-cols-md-6">
    <% if @guardarropa.prendas.any? %>
      <% @guardarropa.prendas.each do |prenda| %>
          <div class="col md-4 mb-3 mt-2">
          <div class="card h-100">
            <img src="<%= asset_path prenda.tipo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title"><%== prenda.descripcion %></p>
              <div class="card-icons">
                <%= link_to :action => :show, :controller => 'prendas', :id => prenda.id do %>
                  <%= "<i class='fas fa-eye'></i>".html_safe %>
                <% end %>
                <%= link_to :action => :edit, :controller => 'prendas', :id => prenda.id do %>
                  <%="<i class='fas fa-edit'></i>".html_safe %>
                <% end %>
                <%= link_to :action => :destroy, :controller => 'prendas', :id => prenda.id , :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
                  <%= "<i class='fas fa-trash'></i>".html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          </div>
        <% end %>
    <% else %>
      <h5 class="aviso" >No hay prendas asociadas a este guardarropa</h5>
    <%end %>
  </div>

</section>

<section title="Atuendos en este guardarropa" >

  <div class="crear_nueva">
    <h4 class="navigation"> Mis Atuendos</h4>
    <%= link_to guardarropa_atuendos_path(@guardarropa,@atuendos) do %>
      <%="<i class='far fa-plus-square'></i>".html_safe %>
    <% end %>

  </div>

  <div class="row row-cols-1 row-cols-md-6">

    <% if @guardarropa.atuendos.any? %>
      <% @guardarropa.atuendos.each do |atuendo| %>
        <div class="col md-4 mb-3 mt-2">
            <div class="card h-100">
              <img src="<%= asset_path atuendo.etiqueta %>" class="card-img-top">
              <div class="card-body">
                <p class="card-title"><%== atuendo.nombre %></p>
                <div class="card-icons">

                  <%= link_to guardarropa_atuendo_path(@guardarropa,atuendo.id) do %>
                    <%="<i class='fas fa-eye'></i>".html_safe %>
                  <% end %>

                  <%= link_to :action => :edit, :id => atuendo.id do %>
                    <%= "<i class='fas fa-edit'></i>".html_safe %>
                  <% end %>

                  <%= link_to 'Borrar', { :action => :destroy, :id => atuendo.id }, :method => :delete, :data => { :confirm => 'Are you sure?' }  do %>
                    <%= "<i class='fas fa-trash'></i>".html_safe %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <p class="aviso">No se encontró ningun atuendo</p>
    <%end %>
  </div>
</section>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn_sec" <%= link_to 'Mis Guardarropas', :guardarropas %></a>
</div>
