<head>
  <script src="https://use.fontawesome.com/aa20e20d69.js"></script> <!--FS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      Dresscode
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Administrar atuendos", guardarropa_atuendos_path(@guardarropa,@atuendos) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Crear nueva prenda", new_prenda_path %></a>
      </li>
    </ul>
  </div>
</nav>
<div class="indexcontainer1">
<section title="Prendas en este guardarropa" >
  <h4> Prendas en este guardarropa</h4>
  <div class="row row-cols-1 row-cols-md-6">
    <% if @guardarropa.prendas.any? %>
      <% @guardarropa.prendas.each do |prenda| %>
          <div class="col md-4 mb-3 mt-2">
          <div class="card h-100">
            <img src="<%= asset_path prenda.tipo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%== prenda.id %></h5>
              <p class="card-text"><%== prenda.descripcion %></p>
            </div>
          </div>
          </div>
        <% end %>
    <% else %>
      <h5 class="aviso" >No hay prendas asociadas a este guardarropa</h5>
    <%end %>
  </div>

</section>

<section title="Atuendos en este guardarropa" >
  <h4>Atuendos en este guardarropa</h4>
  <div class="row row-cols-1 row-cols-md-6">
    <% if @guardarropa.atuendos.any? %>
      <% @guardarropa.atuendos.each do |atuendo| %>
        <div class="col md-4 mb-3 mt-2">
            <div class="card h-100">
              <img src="../atuendo.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><%== atuendo.id %></h5>
                <p class="card-text"><%== atuendo.nombre %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <h5 p class="aviso" ><strong>No hay atuendos asociados a este guardarropa</strong></h5>
    <%end %>
  </div>
</section>
</div>

<div class="d-grid gap-2 d-md-flex align-self-end">
  <a class="btn btn_sec" <%= link_to 'Volver', :back %></a>
</div>

</body>