
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" <%= link_to "Dresscode", home_index_path %></a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">


      <form class="form-inline">
        <%= form_for "",url: guardarropa_atuendos_path(@guardarropa,@atuendos), role: "search", method: :get, class: "My-search" do %>

        <%=select_tag :search,options_for_select(Atuendo.etiqueta.keys.to_a), placeholder: "Search ..." %>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <% end %>
      </form>


    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      <% if current_user && current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Administrar Usuarios", users_index_path %>
        </li>
      <% end %>

    </ul>

  </div>
</nav>



<div class="MiG-container">
<h4>Guardarropas de <%=@guardarropa.nombre %></h4>

  <div class="crear_nueva"><h5>Mis atuendos</h5>
        <a class='far fa-caret-square-down' data-toggle="dropdown">
        </a>
        <div class="dropdown-menu">
          <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="dropdown-item">
               <%= link_to "Crear nuevo atuendo", :action => :new %>
            </li>
            <li class="dropdown-item">
              <%= link_to "Quiero un atuendo", :action => :newrandom %>
            </li>

          </ul>
        </div>

  </div>



  <% if @atuendos.any? %>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
    <% @atuendos.each do |atuendo| %>
      <div class="col md-6 mb-4 mt-3">
        <div class="card h-100">
          <img src="<%= asset_path atuendo.etiqueta %>" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-body">
              <p class="card-text"><%== atuendo.nombre %></p>
              <div class="card-icons">
              <%= link_to :action => :show, :id => atuendo.id do %>
                <%= "<i class='fas fa-eye'></i>".html_safe %>
              <% end %>

              <%= link_to :action => :edit, :id => atuendo.id do %>
                <%= "<i class='fas fa-edit'></i>".html_safe %>
              <% end %>

              <%= link_to 'Borrar', { :action => :destroy, :id => atuendo.id }, :method => :delete, :data => { :confirm => 'Are you sure?' }  do %>
                <%= "<i class='fas fa-trash'></i>".html_safe %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% else %>
      <h6 class="aviso" >No se hallaron atuendos</h6>
    <%end %>
  </div>

<div class="d_pagination">
  <%= paginate @atuendos %>
</div>


<div class="indexcontainer1">
    <h5>Mis prendas</h5>
    <div class="row row-cols-1 row-cols-md-6">
      <% if @guardarropa.prendas.any? %>
        <% @guardarropa.prendas.each do |prenda| %>
          <div class="col md-4 mb-3 mt-2">
            <div class="card h-100">
              <img src="<%= asset_path prenda.tipo %>" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title"><%== prenda.descripcion %></p>
                <div class="card-icons">
                  <%= link_to :action => :show, :controller => 'prendas', :id => prenda.id do %>
                    <%= "<i class='fas fa-eye'></i>".html_safe %>
                  <% end %>
                  <%= link_to :action => :edit, :controller => 'prendas', :id => prenda.id do %>
                    <%="<i class='fas fa-edit'></i>".html_safe %>
                  <% end %>
                  <%= link_to :action => :destroy, :controller => 'prendas', :id => prenda.id , :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
                    <%= "<i class='fas fa-trash'></i>".html_safe %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h6 class="aviso" >No se hallaron prendas</h6>
      <%end %>
    </div>
</div>
</div>