
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" <%= link_to "Dresscode", home_index_path %></a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>


<div class="card" style="max-width: 1100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img-top"
           src="<%= asset_path @atuendo.etiqueta %>" alt="Card image cap">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= @atuendo.nombre%> </h4>
        <p class="card-text"><%= @atuendo.etiqueta%></p>

        <p class="card-text">Rating:
          <br>
          <% (0..@atuendo.clasificacion).each do |i| %>
            <i class="fas fa-star"></i>
          <% end %>
        </p>

          <% if @atuendo.prendas.any? %>
          <div class="row">
            <ul class="list-atuendos">
              <% @atuendo.prendas.each do |prenda| %>
                <p> <%=link_to prenda.descripcion, prenda_path %></p>
              <% end %>
            </ul>
          </div>
          <% else %>
            <h6 class="card-text">No hay prendas asociadas a este atuendo</h6>
          <%end %>
        <p class="card-text">Rating:
          <br>
        <% (0..@atuendo.clasificacion).each do |i| %>
          <i class="fas fa-star"></i>
        <% end %>
        </p>

      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex align-self-end">
  <a class="btn btn_sec" <%= link_to 'Volver', :back %></a>
</div>