
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>

    <a class="navbar-brand" <%= link_to "Dresscode", home_index_path %></a>
    <a class="navbar-brand"<%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>


<section class="cont-img">
  <img src="<%= asset_path 'guardarropa.jpg' %>"> <!-- Es un comando de ruby -->
</section>

<div class="clima-full-container " >
  <div id='clima-loader' hidden=true></div>
  <div id="city-container"></div>
  <div id="icon-container" ></div>
  <div id="temp-container"></div>
  <div id="clima-container"></div>

</div>
<script src="javascripts/application.js"></script>


<div class="indexcontainer">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
    <% @users.each do |user| %>
      <div class="col md-4 mb-3 mt-2">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="elegant-color-text" id="serial">
            </h5>
          </div>
          <div class="card-body">
            <p class="card-title"><%== user.nombre %></p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d_pagination">
  <%= paginate @users %>
</div>

