<head>
  <title Dresscode homepage></title>
  <link href="home.scss" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" title="Software capaz de escogerle al usuario un atuendo en base al clima y la ocasión">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

</body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      Dresscode
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <%= link_to  guardarropas_path, class: "user" do %>
          <%= "<i class='fa fa-user'></i>".html_safe %>
        <% end %>
      </li>

    </ul>
  </div>
</nav>

<section class="cont-img">
  <div class="imgcontainer">
    <img src="<%= asset_path 'pexels-august-de-richelieu-4427816.jpg' %>" alt="Avatar" class="avatar">
  </div>
</section>

<section class="container">
  <hr>
  <p class="intro">En DressCode nos encargamos que nuestros clientes se vistan de la mejor manera
  dependiendo las condiciones climaticas de cada día, brindamos prendas de
  primera calidad y usamos los mejores criterios asesorandonos con los grandes profesionales de la moda.
  </p>
  <hr>
</section>

<section title="Quiénes somos?" >

  <section class="container-fluid text-center">
    <h1>Quiénes somos?</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img src="<%= asset_path 'p1' %>">
        <h4>Mateo Rial</h4>
        <p>Lider del area de desarrollo</p>

      </div>
      <div class="col-lg-3 col-md-6">
        <img src="<%= asset_path 'p2' %>">
        <h4>
          Florencia Skiba
        </h4>
        <p>Lider del area de Marketing & Sales</p>


      </div>
      <div class="col-lg-3 col-md-6">
        <img src="<%= asset_path 'p3' %>">
        <h4>
          Mariano G. Racig
        </h4>
        <p> Lider del area  Arquitectura</p>

      </div>
      <div class="col-lg-3 col-md-6">
        <img src="<%= asset_path 'p4' %>">
        <h4>
          Martina Berraz
        </h4>
        <p>Lider del area Centro de Servicios</p>

      </div>
    </div>
  </section>

</section>

<div class="cont-contact">
  <section class="form-contact">
  <div style="text-align:center">
    <h2>Contactanos</h2>
    <p>Envía un mensaje:</p>
  </div>
      <form action="/action_page.php">
        <label for="fname">Nombre</label>
        <input type="text" id="fname" name="firstname" placeholder="Su nombre..">
        <label for="lname">Apellido</label>
        <input type="text" id="lname" name="lastname" placeholder="Su apellido..">
        <label for="country">Pais</label>
        <select id="country" name="country">
          <option value="Argentina">Argentina</option>
          <option value="Chile">Chile</option>
          <option value="Uruguay">Uruguay</option>
        </select>
        <label for="subject">Asunto</label>
        <textarea id="subject" name="subject" placeholder="Comentarios.." style="height:170px"></textarea>


      </form>
    <div class="btn">
      <input type="submit" value="Submit">
    </div>
  </section>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-     J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


