<body>
<h2>Tus prendas</h2>

<%= link_to "Crear nueva prenda", new_prenda_path, method: :post %>



  <%= link_to "Crear nueva prenda", new_prenda_path %>
  <ul>
    <% @prendas.each do |prenda| %>
      <tr>
        <td><%= prenda.descripcion %></td>
        <td><%= prenda.tipo %></td>
        <td><%= link_to 'Show', :action => :show, :id => prenda.id %></td>
        <td><%= link_to 'Edit', :action => :edit, :id => prenda.id %></td>
        <td><%= link_to 'Delete', { :action => :destroy, :id => prenda.id }, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </ul>
</body>