<h2>Alta de prenda</h2>
<%= form_for @prenda do |f| %>
  <%= f.select :tipo, Prenda.tipo %>
  <%= f.select :categoria, Prenda.categoria %>
  <%= f.select :cprimario, Prenda.cprimario %>
  <%= f.select :csecundario,Prenda.csecundario.keys, {} %>
  <%= f.select :tela, Prenda.telas %>
  <%= f.submit %>
<% end %>