<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
  <h4 class="title">
    <a class="navbar-brand justify-content-start" href="#">Dresscode</a>
  </h4>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
  </ul>
</nav>

<div class="panel panel-default form-panel">
<h2>Alta de prenda</h2>
<%= form_for @prenda do |f| %>
    Descripción
    <%= f.text_area :descripcion %>
    Tipo
    <%= f.select :tipo, Prenda.tipos.keys, {}  %>
    Categoría
    <%= f.select :categoria, Prenda.categoria.keys, {} %>
    Material
    <%= f.select :material, Prenda.materials.keys, {} %>
    Color primario
    <%= f.select :cprimario, Prenda.cprimarios.keys, {} %>
    Color secundario
    <%= f.select :csecundario,Prenda.csecundarios.keys, {} %>
    <%= f.submit %>
<% end %>
</div>
