<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      Dresscode
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Home", home_index_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Crear nueva prenda", new_prenda_path %></a>
      </li>
    </ul>
  </div>
</nav>

<div class="panel panel-default form-panel">
<h2>Ingresá tu prenda</h2>
  <hr>
<%= form_for @prenda do |f| %>
    <h5>Descripción</h5>
    <%= f.text_area :descripcion %>
    <h5>Tipo</h5>
    <%= f.select :tipo, Prenda.tipos.keys, {}  %>
    <h5>Categoría</h5>
    <%= f.select :categoria, Prenda.categoria.keys, {} %>
    <h5>Material</h5>
    <%= f.select :material, Prenda.materials.keys, {} %>
    <h5>Color primario</h5>
    <%= f.select :cprimario, Prenda.cprimarios.keys, {} %>
    <h5>Color secundario</h5>
    <%= f.select :csecundario,Prenda.csecundarios.keys, {} %>
    <div class="btn"><%= f.submit %></div>
<% end %>
</div>
</body>